In [1]:
import pandas as pd
import numpy as np
import keras

import tensorflow as tf

from keras.models import Sequential
from keras.layers import Dense

from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy

from sklearn.preprocessing import OneHotEncoder

## Aqui o objetivo é apenas um pequeno exemplo de como usar o Keras para uma modelagem simples

Esse é um dataset famoso, e várias coisas poderiam ser analisadas, no preprocessamento, como ver quantas pessoas com o mesmo sobrenome existem, entre outras melhorias, mas como dito no primeiro artigo, esse não é nosso objetivo aqui, e portanto essa etapa não será realizada.

In [2]:
df = pd.read_csv("train.csv")

Podemos observar que os dados exibidos aqui não estão preparados pra uma rede neural, temos dados faltantes e dados alfanuméricos, aqui iremos utilizar os métodos mais simples possíveis para solucionar esses problemas, mas vale lembrar que o pré-processamento dos dados é 90% do trabalho.

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Survived']].ffill()

X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']].copy()

y = OneHotEncoder().fit_transform(df[['Survived']].copy())


X['Sex'] = X['Sex'].astype('category')
X['Embarked'] = X['Embarked'].astype('category')

X['Sex'] = X['Sex'].cat.codes
X['Embarked'] = X['Embarked'].cat.codes

X

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         3    1  22.0      1      0   7.2500         2
1         1    0  38.0      1      0  71.2833         0
2         3    0  26.0      0      0   7.9250         2
3         1    0  35.0      1      0  53.1000         2
4         3    1  35.0      0      0   8.0500         2
..      ...  ...   ...    ...    ...      ...       ...
886       2    1  27.0      0      0  13.0000         2
887       1    0  19.0      0      0  30.0000         2
888       3    0  19.0      1      2  23.4500         2
889       1    1  26.0      0      0  30.0000         0
890       3    1  32.0      0      0   7.7500         1

[891 rows x 7 columns]

Nesse ponto o dataset já pode ser passado para uma rede neural, vamos agora passar pelo passo a passo de como o fazer utilizando uma rede neural pronta, antes de começarmos nossa jornada de constuir essa rede do zero.

In [5]:
model = Sequential()

COLUMNS_USED = 7

model.add(Dense(100, input_shape=(7,), activation='relu'))
model.add(Dense(100, activation='relu'))

model.add(Dense(2, activation='softmax'))

model.compile(optimizer=Adam(), loss=BinaryCrossentropy())

2021-10-12 13:14:07.498072: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-10-12 13:14:07.540663: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusolver.so.11'; dlerror: libcusolver.so.11: cannot open shared object file: No such file or directory
2021-10-12 13:14:07.547277: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1835] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2021-10-12 13:14:07.548085: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [ ]:
model.fit(X.values, y.A, epochs=100, batch_size=16)

2021-10-12 13:14:07.660722: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/100
56/56 [==============================] - 0s 1ms/step - loss: 0.7173
Epoch 2/100
56/56 [==============================] - 0s 963us/step - loss: 0.6401
Epoch 3/100
56/56 [==============================] - 0s 1ms/step - loss: 0.5983
Epoch 4/100
56/56 [==============================] - 0s 904us/step - loss: 0.5713
Epoch 5/100
56/56 [==============================] - 0s 936us/step - loss: 0.5863
Epoch 6/100
56/56 [==============================] - 0s 899us/step - loss: 0.5953
Epoch 7/100
56/56 [==============================] - 0s 979us/step - loss: 0.5340
Epoch 8/100
56/56 [==============================] - 0s 951us/step - loss: 0.5321
Epoch 9/100
56/56 [==============================] - 0s 937us/step - loss: 0.5033
Epoch 10/100
56/56 [==============================] - 0s 972us/step - loss: 0.4943
Epoch 11/100
56/56 [==============================] - 0s 930us/step - loss: 0.5004
Epoch 12/100
56/56 [==============================] - 0s 891us/step - loss: 0.4732
Epoch 13/100
56/56 [==============================] - 0s 964us/step - loss: 0.4565
Epoch 14/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4787
Epoch 15/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4607
Epoch 16/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4636
Epoch 17/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4609
Epoch 18/100
56/56 [==============================] - 0s 997us/step - loss: 0.4503
Epoch 19/100
56/56 [==============================] - 0s 937us/step - loss: 0.4522
Epoch 20/100
56/56 [==============================] - 0s 959us/step - loss: 0.4714
Epoch 21/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4784
Epoch 22/100
56/56 [==============================] - 0s 905us/step - loss: 0.4802
Epoch 23/100
56/56 [==============================] - 0s 931us/step - loss: 0.4535
Epoch 24/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4520
Epoch 25/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4915
Epoch 26/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4397
Epoch 27/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4648
Epoch 28/100
56/56 [==============================] - 0s 954us/step - loss: 0.4462
Epoch 29/100
56/56 [==============================] - 0s 969us/step - loss: 0.4305
Epoch 30/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4324
Epoch 31/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4378
Epoch 32/100
56/56 [==============================] - 0s 980us/step - loss: 0.4316
Epoch 33/100
56/56 [==============================] - 0s 888us/step - loss: 0.4293
Epoch 34/100
56/56 [==============================] - 0s 961us/step - loss: 0.4301
Epoch 35/100
56/56 [==============================] - 0s 931us/step - loss: 0.4494
Epoch 36/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4755
Epoch 37/100
56/56 [==============================] - 0s 1ms/step - loss: 0.5127
Epoch 38/100
56/56 [==============================] - 0s 991us/step - loss: 0.4539
Epoch 39/100
56/56 [==============================] - 0s 952us/step - loss: 0.4555
Epoch 40/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4451
Epoch 41/100
56/56 [==============================] - 0s 947us/step - loss: 0.4303
Epoch 42/100
56/56 [==============================] - 0s 967us/step - loss: 0.4322
Epoch 43/100
56/56 [==============================] - 0s 950us/step - loss: 0.4268
Epoch 44/100
56/56 [==============================] - 0s 991us/step - loss: 0.4335
Epoch 45/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4205
Epoch 46/100
56/56 [==============================] - 0s 928us/step - loss: 0.4603
Epoch 47/100
56/56 [==============================] - 0s 943us/step - loss: 0.4534
Epoch 48/100
56/56 [==============================] - 0s 927us/step - loss: 0.4176
Epoch 49/100
56/56 [==============================] - 0s 938us/step - loss: 0.4160
Epoch 50/100
56/56 [==============================] - 0s 927us/step - loss: 0.4394
Epoch 51/100
56/56 [==============================] - 0s 952us/step - loss: 0.4263
Epoch 52/100
56/56 [==============================] - 0s 983us/step - loss: 0.4237
Epoch 53/100
56/56 [==============================] - 0s 889us/step - loss: 0.4602
Epoch 54/100
56/56 [==============================] - 0s 984us/step - loss: 0.4229
Epoch 55/100
56/56 [==============================] - 0s 986us/step - loss: 0.4166
Epoch 56/100
56/56 [==============================] - 0s 932us/step - loss: 0.4087
Epoch 57/100
56/56 [==============================] - 0s 956us/step - loss: 0.4333
Epoch 58/100
56/56 [==============================] - 0s 940us/step - loss: 0.4099
Epoch 59/100
56/56 [==============================] - 0s 889us/step - loss: 0.4051
Epoch 60/100
56/56 [==============================] - 0s 983us/step - loss: 0.4264
Epoch 61/100
56/56 [==============================] - 0s 948us/step - loss: 0.4042
Epoch 62/100
56/56 [==============================] - 0s 989us/step - loss: 0.4076
Epoch 63/100
56/56 [==============================] - 0s 904us/step - loss: 0.4044
Epoch 64/100
56/56 [==============================] - 0s 909us/step - loss: 0.4260
Epoch 65/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4146
Epoch 66/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4063
Epoch 67/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4050
Epoch 68/100
56/56 [==============================] - 0s 872us/step - loss: 0.4111
Epoch 69/100
56/56 [==============================] - 0s 949us/step - loss: 0.4141
Epoch 70/100
56/56 [==============================] - 0s 977us/step - loss: 0.4030
Epoch 71/100
56/56 [==============================] - 0s 887us/step - loss: 0.4142
Epoch 72/100
56/56 [==============================] - 0s 893us/step - loss: 0.4186
Epoch 73/100
56/56 [==============================] - 0s 965us/step - loss: 0.4217
Epoch 74/100
56/56 [==============================] - 0s 884us/step - loss: 0.4352
Epoch 75/100
56/56 [==============================] - 0s 998us/step - loss: 0.4003
Epoch 76/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4070
Epoch 77/100
56/56 [==============================] - 0s 1ms/step - loss: 0.3988
Epoch 78/100
56/56 [==============================] - 0s 891us/step - loss: 0.3977
Epoch 79/100
56/56 [==============================] - 0s 957us/step - loss: 0.4029
Epoch 80/100
56/56 [==============================] - 0s 984us/step - loss: 0.3995
Epoch 81/100
56/56 [==============================] - 0s 929us/step - loss: 0.4135
Epoch 82/100
56/56 [==============================] - 0s 879us/step - loss: 0.3978
Epoch 83/100
56/56 [==============================] - 0s 907us/step - loss: 0.3922
Epoch 84/100
56/56 [==============================] - 0s 909us/step - loss: 0.4059
Epoch 85/100
56/56 [==============================] - 0s 958us/step - loss: 0.3944
Epoch 86/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4044
Epoch 87/100
56/56 [==============================] - 0s 1ms/step - loss: 0.3876
Epoch 88/100
56/56 [==============================] - 0s 1ms/step - loss: 0.3927
Epoch 89/100
56/56 [==============================] - 0s 1ms/step - loss: 0.3919
Epoch 90/100
56/56 [==============================] - 0s 973us/step - loss: 0.3921
Epoch 91/100
56/56 [==============================] - 0s 902us/step - loss: 0.4042
Epoch 92/100
56/56 [==============================] - 0s 970us/step - loss: 0.3926
Epoch 93/100
56/56 [==============================] - 0s 850us/step - loss: 0.3869
Epoch 94/100
56/56 [==============================] - 0s 856us/step - loss: 0.3997
Epoch 95/100
56/56 [==============================] - 0s 1ms/step - loss: 0.4062
Epoch 96/100
56/56 [==============================] - 0s 925us/step - loss: 0.3954
Epoch 97/100
56/56 [==============================] - 0s 901us/step - loss: 0.3825
Epoch 98/100
56/56 [==============================] - 0s 898us/step - loss: 0.3831
Epoch 99/100
56/56 [==============================] - 0s 951us/step - loss: 0.4004
Epoch 100/100
56/56 [==============================] - 0s 899us/step - loss: 0.3812

In [7]:
from sklearn.metrics import accuracy_score

preds = model.predict(X)

y_pred = np.argmax(preds, axis=1)
accuracy_score(y_pred, df['Survived'].values)

0.8181818181818182

## Carregando dado de testemodel.add(Dense(100, activation='relu'))

In [8]:
df_test = pd.read_csv("test.csv")

df_test = df_test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']].ffill()

X_test = df_test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']].copy()

X_test['Sex'] = X_test['Sex'].astype('category')
X_test['Embarked'] = X_test['Embarked'].astype('category')

X_test['Sex'] = X_test['Sex'].cat.codes
X_test['Embarked'] = X_test['Embarked'].cat.codes

X_test

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    1  34.5      0      0    7.8292         1
1         3    0  47.0      1      0    7.0000         2
2         2    1  62.0      0      0    9.6875         1
3         3    1  27.0      0      0    8.6625         2
4         3    0  22.0      1      1   12.2875         2
..      ...  ...   ...    ...    ...       ...       ...
413       3    1  28.0      0      0    8.0500         2
414       1    0  39.0      0      0  108.9000         0
415       3    1  38.5      0      0    7.2500         2
416       3    1  38.5      0      0    8.0500         2
417       3    1  38.5      1      1   22.3583         0

[418 rows x 7 columns]

In [9]:
preds = model.predict(X_test)

y_pred = np.argmax(preds, axis=1)

In [10]:
df_test = pd.read_csv("test.csv")

df_test['Survived'] = y_pred
df_test = df_test.set_index('PassengerId')

In [11]:
df_test[['Survived']].to_csv('test_submission.csv')